# Windows / SO
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Build
build/
dist/
bin/
obj/

# Logs
*.log

# Variables de entorno
.env
.env.*
# Entornos virtuales Python
venv/
.venv/
**/venv/
**/.venv/

# Python cache
__pycache__/
*.pyc
